.pagination ul {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination li {

}

.pagination .break a {
    cursor: default;
}

.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.navi li {
    float: left;
}

.navi li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navi li a:hover:not(.active) {
    background-color: #ddd;
}

.navi li a.active {
    color: white;
    background-color: #4CAF50;
}