<div ng-controller="indexController">

    <div>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Allegier.pl</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">News</a></li>
                    <li><a href="#post">Blog</a></li>
                    <li><a href="#kontakt">Kontakt</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Allegier.pl</h1>
            <p>Prosty Sklepik. </p>
        </div>

        <a href="#komputery" class="btn btn-default"> Komputery</a>
        <a href="#auta" class="btn btn-default"> Auta</a>
        <a href="#mieszkania" class="btn btn-default"> Mieszkania</a>
        <a href="#odzywki" class="btn btn-default"> Odzywki</a>
        <a href="#rowery" class="btn btn-default"> Rowery</a>

        <h3 class="bg-success">xxxx xx xxx</h3>

        <div class="row">

            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th><span class="label label-info">xxx</span></th>
                        <th><span class="label label-success">xxx</span></th>
                        <th><span class="label label-danger">xxxx</span></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td bgcolor="#ffd700">1</td>
                        <td>xzx zx</td>
                        <td>150 000 PLN </td>
                    </tr>
                    <tr>
                        <td bgcolor="silver">2</td>
                        <td>xzxxzx</td>
                        <td>100 000 PLN </td>
                    </tr>
                    <tr>
                        <td bgcolor="#a52a2a">3</td>
                        <td>zxzxz</td>
                        <td>50 000 PLN </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th><span class="label label-info">zz</span></th>
                        <th><span class="label label-success">xx</span></th>
                        <th><span class="label label-danger">cc</span></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td bgcolor="#ffd700">1</td>
                        <td>Pzxzxxz</td>
                        <td>zx xzx</td>
                    </tr>
                    <tr>
                        <td bgcolor="silver">2</td>
                        <td>xz xz</td>
                        <td>zz zz</td>
                    </tr>
                    <tr>
                        <td bgcolor="#a52a2a">3</td>
                        <td>zxzzxxz</td>
                        <td>xz xzzx</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <hr />

        <h3 class="bg-primary"> XXXXXXXXXXXXXXXXXX :</h3>

        <div class="row">

            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span class="label label-info">xx</span></th>
                        <th><span class="label label-success">xx</span></th>
                        <th><span class="label label-danger">xx xx</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td bgcolor="#ffd700">1</td>
                        <td>xxxxxxxxxx xxxxxxxxxxx </td>
                        <td>xx </td>
                    </tr>
                    <tr>
                        <td bgcolor="silver">1</td>
                        <td>xxxx xx xx</td>
                        <td>zz zz</td>
                    </tr>
                    <tr>
                        <td bgcolor="#a52a2a">1</td>
                        <td>zz zz</td>
                        <td>xx xx</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th><span class="label label-info">zz</span></th>
                        <th><span class="label label-success">zz</span></th>
                        <th><span class="label label-danger">zz zz</span></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td bgcolor="#ffd700">1</td>
                        <td>zz zz </td>
                        <td>50000 m</td>
                    </tr>
                    <tr>
                        <td bgcolor="silver">2</td>
                        <td>xx xx</td>
                        <td>zxx m</td>
                    </tr>
                    <tr>
                        <td bgcolor="#a52a2a">3</td>
                        <td>zxzx xzx</td>
                        <td>asa m</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <hr />

        <br />
        <br />

        <div>
            <div style="border: 1px solid; padding: 5px">
                <h2 class="bg-success"> zxzxzzx</h2>
            </div>
            <div style="border: 1px solid; padding: 5px">
                <br />
                <p>
                    xzxzxzxzxzxzxzxzxzx </p>
                <p>  zxzxz </p>


                <p>
                    <button type="button" class="btn btn-success">SUCCESS</button> Gore , 21.10.2016
                </p>

            </div>
        </div>

        <br />
        <br />

        <ul class="nav nav-pills"   role="tablist">
            <li role="presentation"><a href="#">Sponsorzy</a></li>
            <li role="presentation"><a href="#">Reklama</a></li>
            <li role="presentation"><a href="#">Wspolpraca</a></li>
            <li role="presentation"><a href="#">Mapa</a></li>
            <li role="presentation"><a href="#">Linki</a></li>
        </ul>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    </div>

</div>
