<div ng-controller="indexController">

    <div>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Allegier.pl</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#konto">Konto</a></li>
                        <li><a href="#kontakt">Kontakt</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container theme-showcase" role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Allegier.pl</h1>
                <p>Prosty Sklepik. </p>
            </div>

            <a href="" ng-click="buy" class="btn-lg btn-default ">MOTORYZACJA</a>
            <a href="" ng-click="buy" class="btn-lg btn-default ">DOM</a>
            <a href="" ng-click="buy" class="btn-lg btn-default ">ELEKTRONIKA</a>
            <a href="" ng-click="buy" class="btn-lg btn-default ">MODA</a>
            <a href="" ng-click="buy" class="btn-lg btn-default ">PRACA </a>
            <a href="" ng-click="buy" class="btn-lg btn-default ">SPORT</a>
            <a href="" ng-click="buy" class="btn-lg btn-default ">INTERNET</a>
            <a href="" ng-click="buy" class="btn-lg btn-default ">WAKACJE</a>

            <hr/>


            <div align="center">
                <p>
                    <button ng-click="start" type="button" class="btn btn-lg btn-success ">START</button>
                </p>
                <p>
                    <button ng-click="stop" type="button" class="btn btn-lg btn-warning ">STOP</button>
                </p>
                <p>
                    <button ng-click="results" type="button" class="btn btn-lg btn-info ">WYNIKI</button>
                </p>
            </div>

            <br/>
            <br/>

            <hr/>

            <div align="center">

                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#">Sponsorzy</a></li>
                    <li role="presentation"><a href="#">Reklama</a></li>
                    <li role="presentation"><a href="#">Wspolpraca</a></li>
                    <li role="presentation"><a href="#">Mapa</a></li>
                    <li role="presentation"><a href="#">Linki</a></li>
                </ul>
            </div>

        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    </div>

</div>
